img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: var(--transition);
    display: block;
    position: relative;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
}